*{
    box-sizing: border-box;
    margin:0;
    padding:0;   
}
.wrap {
    overflow: hidden;
}
header{
    max-width: 2000px;
    width:100vw;
    background-color:#FFF;
    position: fixed;
    z-index:5;
}
a{
    text-decoration: none;
}

.header-main{
    display:flex;
    width:100vw;
    padding:1.4vw 0;
}
.header-left{
    display:flex;
    width:30vw;
    padding-left:10vw;
    
}
.header-left img{
    width:9vw;
}
.header-left p{
    font-size:1vw;
    font-weight: 600;
    float:right;
    letter-spacing: 2px;
    white-space: nowrap;
    padding-top:1.5vw;
    padding-left:1vw;
    

}
.header-right{
    width:60vw;
    font-weight: lighter;
    display:inline!important;   
}
.header-right1{
    display:none!important;
}
.right{
    color:#FFFFFF;
    background-color:#da6b64;
    padding:0.7vw 3.15vw;
    border-radius: 25px;
    font-size:1vw;
    opacity:0.9;
    float:right;
    font-weight: lighter;
}
.right:hover{
    opacity:1;
}
.contain{
    max-width: 2000px;
    width:100vw;
    background-image: url(https://github.com/yudai-hano/isala/blob/master/image%E3%81%AE%E3%82%B3%E3%83%92%E3%82%9A%E3%83%BC/main.jpg?raw=true);
    background-size: cover;
}
.container{
    width:100vw;
}
.center{
    width: 30vw;                     
    margin:  0 auto;
    text-align: center;
    padding:15vw 0 10vw 0;
}
.center img{
    width:25vw;
    margin:2vw 0;
}
.center h1{
    font-size:2vw;
    color:#333333;
    font-weight: 600;
    
}
.center p{
    font-size:1.4vw;
    color:#333333;
    font-weight: 600;
    
}
.skill{
    max-width:2000px;
    width:100vw;
    margin:0 auto;
    background-color: #ebb94d;
}
.skill-main{
    width:100vw;
    text-align: center;
}
.skill-list{ 
   color:#FFFFFF;
   padding:1vw;
   
}
.skill-list h3{
    font-size:1.5vw;
    font-weight:normal;
    
}
.zero{
    width:35vw;
    margin:0 auto;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    padding:0.07vw 0.14vw;
    font-size:1.3vw;
    font-weight:bold;
    margin-top:1vw;
}
.quit{
    background-color:#da6b64;
    padding:2vw 0;
    color:#FFFFFF;
    font-size:2vw;
    border-radius: 50px;
    opacity:0.9;
    width: 70vw;
    margin: 3vw auto;
}
.student h3{
    padding-top:1vw;
}
.quit:hover{
    opacity:1;
}
 .try{
    display:flex;
    justify-content: center;
    margin-top:1vw;
}
.error{
    margin-right:1vw;
}
.error p{
    font-size:0.4vw;
}
.tweets{
    display:flex;
    background-color:rgba(0, 172, 237, 1) ;
    border-radius: 5px;
    padding:0.3vw 1vw;
    opacity:0.8;  
 }
 .tweets:hover{
     opacity:1;
     cursor: pointer;
 }
 .tweets i{
     position: relative;
     top:0;
 }
 .goods{
     display:flex;
    background-color:rgba(0, 99, 220, 1) ;
    border-radius: 5px;
    padding:0.3vw 1vw;
    cursor: pointer;

 }
  
 .share p{  
     background-color:rgba(0, 99, 220, 1) ;
     border-radius: 5px;
     padding:0.3vw 0.7vw;
     cursor: pointer;
 }
 .twitter i{
     position: relative;
     top:0;
}
 .goods i{
    position: relative;  
    top:0; 
 }
 .thirty{
     font-size:1vw;
     padding-top:1.7vw;
 }
.free{
    max-width: 2000px;
    width:100vw;
    margin:0 auto;
    background-image: url(https://github.com/yudai-hano/isala/blob/master/image%E3%81%AE%E3%82%B3%E3%83%92%E3%82%9A%E3%83%BC/street.jpg?raw=true);
    background-size: cover;
    background-position: center center; 
}
.free-main{
    padding:4vw 0 8vw 0;
    text-align: center;
    color:#333333;
}
.free-logo{
    margin-top:3vw;
}
.free-logo h2{
    font-size:2vw;
    font-weight: normal;
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
}
.free-logo h2:before {
    content: '';
    position: absolute;
    left: -5vw;
    top:-2vw;
    display: inline-block;
    width: 3vw;
    height: 3vw; 
    border-top :4px solid #ebb94d;
    border-left:4px solid #ebb94d;
    
  }
  .free-logo h2:after{
    content: '';
    position: absolute;
    right:-5vw;
    top:1vw;
    display: inline-block;
    width: 3vw;
    height: 3vw;   
    border-bottom :4px solid #ebb94d;
    border-right:4px solid #ebb94d;

  }
.free-list{
    margin-top:1vw;
    
}
.free-list p{
    font-size:1.5vw;
    padding-bottom:1vw;
    
}
.power{
    border-bottom: 6px solid #ebb94d;
    font-weight:bold;
}
.nomado{
    background-color:#fef5e0;
    width:100vw;
    max-width: 2000px;
    text-align: center;
}
.nomado-main{
    padding-bottom:5vw;
}
.one h1{
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
    color:#333333;
}
.one h1{
    font-size:1.75vw;
    letter-spacing: 0.3vw;
}
.two h2{
    font-size:1.5vw;
    color:#333333;

}
.three h3{
    font-size:1.4vw;
    color:#333333;
    letter-spacing: 0.28vw;
    margin-top:2.1vw;
}
.one h1:before {
    content: '';
    position: absolute;
    left: -17.5vw;
    top: -2.5vw;
    display: inline-block;
    width: 4.2vw;
    height: 4.2vw;   
    border-top :4px solid #ebb94d;
    border-left:4px solid #ebb94d;
    
  }
  .one h1:after{
    content: '';
    position: absolute;
    right: -17.5vw;
    top: 2.5vw;
    display: inline-block;
    width: 4.2vw;
    height: 4.2vw;   
    border-bottom :4px solid #ebb94d;
    border-right:4px solid #ebb94d;

  }

.about{
    background-color:#ebb94d;
    border-radius: 50%;
    width:7vw;
    height:7vw;
    color:#FFFFFF;
    font-size:1vw;
    font-weight: normal;
    margin:0 auto;
    position: relative;
    bottom:3.5vw;
}
.about p{
    margin:0;
    position:relative;
    top:3vw;
    
}
.image{
    display:flex;
    margin:0 auto;
   
}
.images{
    margin-right:3vw;
    
}
.images p{
    font-size:0.8vw;
    color:#333333;  
}
.two{
    margin:3vw 0;
}
.three{
    background-color:#FFFFFF;
    border:2px solid #ebb94d;    
    width: 80vw;
    height: auto;
    padding: 0;
    margin: 0 auto;
}
.image{
    padding-top:2vw;
    padding-bottom:2vw;
    padding-right:2vw;
    padding-left:13vw;
}
.isala{
    max-width:2000px;
    width:100vw;
    background-image: url(https://github.com/yudai-hano/isala/blob/master/image%E3%81%AE%E3%82%B3%E3%83%92%E3%82%9A%E3%83%BC/hand.jpg?raw=true);
    background-size:cover;
}

.isala-main{
    display: flex;
    flex-direction: column;
   padding-bottom:3vw;
}
.isala1{
    text-align: center;
    margin-top:4.2vw;
    letter-spacing: 0.2vw;
   
}
.isala1 h3{
    font-size:2vw;
    color:#FFFFFF;
}
.isala1 p{
    font-size:1.4vw;
    color:#FFFFFF;
    padding:0.3vw 0;
}
.step{
    font-size:1.1vw;
    color:#FFFFFF;
    background-color: #ebb94d;
    border-radius: 5px;
    margin-bottom:1vw;
}
.bankoku{
    font-size:1vw;
    color:#000000;
    font-weight: bold;
    padding-bottom:1vw;
}
.kadai{
    font-size:1.1vw;
    color:#000000;
    font-weight: bold;
    padding-bottom:1vw;
}
.support{
    color:#ebb94d;
}
.isala2{
    display:flex;
    flex-direction: row;
    margin-left:14vw;
    
    
}
.isala-list{
    background-color:#FFFFFF;
    border-radius: 5px;
    width:25vw;
    height:auto;
    text-align: center;
    margin-top:2vw;
    margin-right:1.4vw;
}
.list{
    padding:1vw 2.1vw;
    
}
.blue{
    max-width:2000px;
    background-color:#016EA9;
    width:100vw;
}
.blue2{
    text-align: center;
    padding-top:2.8vw;
    padding-bottom:2.8vw;
}
.blue2 p{
    font-size:1.4vw;
    color:#FFFFFF;
    letter-spacing:2px;
}
.study{
    width:100vw;
    max-width: 2000px;
    color:#333333;
}
.study-main{
    text-align:center;
    display: flex;
    flex-direction: column;
    padding:4vw 0;
}
.study2{
    display:flex;
    padding:2.45vw 0;
   margin:0 auto;
}
.study1 h3{
    font-size:2vw;
}
.study1 p{
    font-size:1.4vw;
    padding-top:4vw;
}
.study3 p{
    font-size:1.1vw;
    font-weight:bold;
}
.study2 img{
    width:13vw;
    height:auto;
    margin-left:3vw;
}
.studys{
    font-size:1.1vw;
}
.merit{
    max-width: 2000px;
    width:100vw;
    background-color: #fef5e0;
    color:#333333;
}
.merit-main{
    padding-top:3.5vw;
}
.merit1{
    position: relative;
    left:37vw;
    display: inline-block;
    margin-bottom: 1em;
    margin:0.7vw 0;
}
.prog2{
    font-size:2vw;
}

.prog{
    font-size:1.4vw;
}

.merit1:before {
    content: '';
    position: absolute;
    left: -14vw;
    top: -1.4vw;
    display: inline-block;
    width: 3.5vw;
    height:3.5vw;   
    border-top :4px solid #ebb94d;
    border-left:4px solid #ebb94d;
    
  }
  .merit1:after{
    content: '';
    position: absolute;
    right:-13.3vw;
    top:2.8vw;
    display: inline-block;
    width: 3.5vw;
    height: 3.5vw;   
    border-bottom :4px solid #ebb94d;
    border-right:4px solid #ebb94d;

  }
.merit2{
    display:flex;
    margin-top:2.8vw;
     margin-left:7vw;
    
}
.metit1 p{
    font-size:2vw;
    font-weight:bold;
}
.merit-list{
    width:30vw; 
}
.merit2 span{
    font-size:1.4vw;
}
.else{
    font-size:1.1vw;
}
.merit3{
    text-align: center;
    background-color:#FFFFFF;
    border:3px solid #ebb94d;
    margin:2.8vw 9.45vw;
    position:relative;
    bottom:1.75vw; 
}
.merit-list{
    width:23vw;
    margin-left:5.6vw;
}
.merit-list img{
    width:25.2vw;
}
.merit3-1{
    padding:2.8vw 2.1vw;
}
.merit3-1 p{
    font-weight:bold;
    margin:0.3vw 0;
    
}
.merit3 span{
    font-size:1.96vw;
}
.merit3 h3{
    font-size:1.4vw;
    margin:1.4vw 0;
}
.merit4{
    text-align: center;
    font-size:1vw;
    position:relative;
    bottom:2.8vw;
    
}
.merit4 p{
    margin:0;
}
.member{
    max-width: 2000px;
    width:100vw;
    background-image: url(https://github.com/yudai-hano/isala/blob/master/image%E3%81%AE%E3%82%B3%E3%83%92%E3%82%9A%E3%83%BC/mountain.jpg?raw=true);
    background-size: cover;
    color:#FFFFFF;
}
.member-main{
    margin:0 27vw;
    text-align: center;
    padding-top:5.6vw;
    padding-bottom:6vw;
    
}

.member1 img{
    width:14vw;
    border-radius: 50%;
    position:relative;
    top:2.1vw;
}
.bottom{
    width:50vw;
    display:flex;
    flex-wrap: wrap; 
}
.member1{
    width:25vw;
}
.card{
    font-size:2vw;
    padding-bottom:1.4vw;
}
.top p{
    font-size:1.1vw;
}
.member1 p{
    font-size:1.1vw;
    font-weight:lighter;
}
.box{
    border:2px solid #FFFFFF;
    padding:2vw;
    margin-right:1.4vw;  
}
.box p{
    margin-bottom:0.7vw;
}
.teacher{
    text-align: initial;
}
.answer{
    max-width: 2000px;
    width:100vw;
    background-color:#ebb94d;
    text-align: center;
}
.answer-center{
    padding-top:2.1vw;
    padding-bottom:2.1vw;
}
.ques{
    width: 5.6vw;
    height:  5.6vw; 
    background-color:#FFF;
    border-radius: 50%; 
    margin: 0 auto;
    color:#ebb94d;
    padding-top:2vw;
}
.answer h2{
    color:#FFF;
    position:relative;
    display: inline-block;
    margin-bottom: 1em;
    margin:0.7vw 0;
}
.answer h2:before {
    content: '';
    position: absolute;
    left: -14vw;
    top: -1.4vw;
    display: inline-block;
    width: 3.5vw;
    height: 3.5vw;   
    border-top :4px solid #FFF;
    border-left:4px solid #FFF;
    
  }
  .answer h2:after{
    content: '';
    position: absolute;
    right:-13.3vw;
    top:2.8vw;
    display: inline-block;
    width: 3.5vw;
    height: 3.5vw;   
    border-bottom :4px solid #FFF;
    border-right:4px solid #FFF;

  }
.voice{
    width:100vw;
    max-width: 2000px;
}
.voice-list{
    display:flex;
}
.yellow{
    width: 0;
	height: 0;
    border: 40px solid transparent;
    border-top: 40px solid #ebb94d;
    margin:0 auto; 
}
.kanou{
    font-size:1.96vw;
    font-weight: 600;
    padding-bottom: 1vw;
}
.syoko{
    font-size:1.1vw;
    font-weight: 600;
}
.voice1{
    text-align: center;
}
.voice1 h2{
    margin:0;
}
.voice1 p{
    font-size:1vw;
    font-weight: 300;
    color:#777777;
    padding-top:3vw;
    padding-bottom:3vw;
}
.human{
    border:2px solid #ebb94d;
    margin-bottom:2.8vw;
}
.human img{
    width:17vw;
    height:auto;
}
.letter{
    padding-left:2.8vw;
}
.letter p{
    font-size:1.2vw;
    color:#777777;
}
.voice2{
    margin:0 25.3vw;
}
.border{
    text-decoration: underline;
}
.coffee{
    max-width: 2000px;
    width:100vw;
    font-weight:600;
    background-image: url(https://github.com/yudai-hano/isala/blob/master/image%E3%81%AE%E3%82%B3%E3%83%92%E3%82%9A%E3%83%BC/coffee.jpg?raw=true);
    background-size: cover;
}
.coffee-bottom{
    display:flex;
    margin:0 28vw;
    padding-bottom:4vw;
}
.coffee-top{
    padding-top:4.9vw;
    padding-bottom:3.9vw;
}
.coffee-top h2{
    color:#FFFFFF;
    font-size:1.96vw;
    text-align: center;
    padding-bottom:1vw;
}
.coffee-top p{
    color:#FFFFFF;
    font-size:1.1vw;
    text-align: center;
    margin:0;
}

.plan1 p{
    color:#FFFFFF;
    margin:0;
    font-size:1.4vw;
}
.plan2 p{
    color:#000000;
    font-size:1.1vw;
    margin:0;
    padding:0.7vw;
    border-bottom:1px dotted #e5e5e5;
}
.plan3 p{
    color:#000000;
    padding:0.7vw;;
    font-size:1.12vw;
    margin:0;
    border-bottom:1px dotted #e5e5e5;

}
.plan1{
    background-color:#016ea9;
    text-align: center;
    padding:1.05vw 3.5vw;
}
.plan2{
    background-color:#FFFFFF;
    
    text-align: center;
}
.plan3{
    background-color:#FFFFFF;
    text-align: center;

}
.plan5{
    background-color:#016ea9;
    text-align: center;
    padding:1vw 4.9vw;

}
.plan5 p{
    color:#FFFFFF;
    margin:0;
    font-size:1.4vw;
}
.coffee-left{
    width:100vw;
    border:2px solid #016ea9;
    border-radius: 5px;
}
.coffee-right{
    width:100vw;
    height:30%;
    border:2px solid #016ea9;
    border-radius: 5px;
    margin-left:2vw;
    background-color: #FFF;
}
.risk{
    width:100vw;
    max-width: 2000px;
    background-color: #016ea9;
}
.risk2{
    padding:2.5vw 0;
}
.risk h2{
    font-size:1.4vw;
    color:#FFF;
    margin:0;
    text-align: center;
}
.skype{
    width:100vw;
    max-width: 2000px;
    background-color: #FFF;
}
.skype1{
    width:100vw;
}
.skype-main{
    padding-top:5vw;
    padding-bottom:5vw;
    display:inline!important;
}

.skype-top{
    display:flex;
    flex-direction: column;
    text-align: center;
    padding-top:5vw;
}
.skype-bottom{
    padding-bottom:4vw;
}
.skypes{
    display:flex;
}
.skype-top img{
    width:65vw;
    margin:3.2vw auto;
   
}
.s-left{
    width:40vw;
    text-align: center;
}
.s-left h2{
    font-size:1.2vw;
    color:#333333;
    font-weight:600;
}
.bold{
    font-size:1.1vw;
    font-weight:600;
    color:#333333;
}
.lighter{
    font-size:1vw;
    font-weight:300;
    color:#333333;
}
.skypes{
    background-color: #fef5e0;
    padding:2vw 2.45vw;
    border-radius: 5px;
    width:80vw;
    margin:0 auto;
}
.s-right{
    padding-left:1.4vw;
}
.skype2{
    width:100vw;
    display:none;
    display:none!important;
}
.pizza1 p{
    white-space: nowrap;
}
.flight{
    width:15vw;
}
.anken{
    width:20vw;
}
.kikoku{
    width:18vw;
}
.line{
    display:block;
    margin:0 auto;
    width:53vw;
}
.bangkok{
    width:100vw;
    max-width: 2000px;
    background-image: url(https://github.com/yudai-hano/isala/blob/master/image%E3%81%AE%E3%82%B3%E3%83%92%E3%82%9A%E3%83%BC/bangkokbg.jpg?raw=true);
    background-size: cover;
    color:#FFF;
}
.bangkok-main{
    padding:5.6vw;
}
.bangkok-main h2{
    font-size:1.6vw;
    padding-bottom:2vw;
}
.bangkok-main li{
    font-size:0.9vw;
    line-height: 1.4vw;
    padding:0.5vw 0;
    padding-left:2vw;
}
ul{
    list-style: none;
}
.reason{
    font-size:0.7vw;
    font-weight:300;
    padding-bottom:1vw;
}

.kankyo{
    font-size:0.9vw;
    padding-top:2vw;
}
.sanka{
    width:100vw;
    max-width: 2000px;
    background-color: #ebb94d;
}
.sanka-main{
    padding-top:4.2vw;
}
.sanka-top{
    text-align: center;
    color:#333333;
}
.sanka-top p{
    font-size:1.12vw;
    font-weight:600;
    margin-top:2.8vw;
}
.sanka-bottom{
    padding-top:2.8vw; 
    padding-bottom:3vw; 
}
.white{
    color:#FFF;
}
.sanka1 h2{
    font-size:1.96vw;
    font-weight:500;
    text-align: center;
    margin:0 28vw;
    position:relative;
    top:1.4vw;
    background-color: #ebb94d;
}
.tokuten{
    display:flex;
    width:85vw;
    padding:4vw 7vw;
    height:auto;
    border:2px solid #FFF;
    margin-left:7vw;
}
.tokuten1{
    background-color: #FFF;
    padding:4.1vw 1.4vw;
    border-radius: 50%;
    width:17vw;
    text-align: center;
    justify-content: space-between;
    margin:0 auto;
}

.tokuten h2{
    color:#ebb94d;
    padding-bottom:1vw;
}
.tokuten1 p{
    font-size:0.98vw;
}
.toku{
    display:none!important; 
}
.leon{
    width:100vw;
    max-width: 2000px;
    background-image: url(https://github.com/yudai-hano/isala/blob/master/image%E3%81%AE%E3%82%B3%E3%83%92%E3%82%9A%E3%83%BC/detail.jpg?raw=true);
    background-size: cover;
    color:#FFF;
}
.leon-main{
    text-align: center;
    padding-top:3.75vw;
    padding-bottom:5vw;
}
.leon-main h2{
    font-size:1.96vw;
    padding-bottom:3vw;
}
.leon-main p{
    font-size:1.4vw;
    margin:0.56vw 0;
}
.leon2 h2{
    position:relative;
    display: inline-block;
    margin-top:2.1vw;
}
.leon2 h2:before {
    content: '';
    position: absolute;
    left: -10.5vw;
    top: -1.4vw;
    display: inline-block;
    width: 3.5vw;
    height: 3.5vw;   
    border-top :4px solid #FFF;
    border-left:4px solid #FFF;
    
  }
  .leon2 h2:after{
    content: '';
    position: absolute;
    right:-10.5vw;
    top:0.35vw;
    display: inline-block;
    width: 3.5vw;
    height: 3.5vw;   
    border-bottom :4px solid #FFF;
    border-right:4px solid #FFF;

  }
  .message{
      width:100vw;
      max-width: 2000px;
      background-color: #FFF;
      color:#333333;

  }
  .message-main{
     padding-top:2.8vw;
     padding-bottom:5vw;
  }
  .m-top{
      text-align: center;
  }
  .m-bottom{
      display:flex;
      padding-top:2.1vw;
      margin:0 17.5vw 0 8vw;
  }
  .m-left{
      width:50vw;
  }
  .m-right{
      width:77vw;
      margin-left:2.8vw;
      
  }
  .m-bottom img{
      width:13vw;
      float:right;
  }
  .m-top h2{
      font-size:1.96vw;
      padding-bottom:2vw;
  }
  .m-top p{
      font-size:1.4vw;
      font-weight:600;
  }
  .m-bottom li{
      font-size:0.98vw;
  }
  .m-bottom p{
      font-size:0.98vw;
  }
.form{
    width:100vw;
    background-color: #ebb94d;
}
.form-main{
    padding-top:4.2vw;
    padding-bottom:3vw;
}
.saru{
    display:flex;
    margin:0 auto;
    width:18vw;
}
.saru1{
   font-size:2.5vw;
}
.saru2{
    font-size:2vw;
    font-weight:600;
    white-space: nowrap;
}
.f-top{
    text-align: center;
    color:#333333;
}
.mazu{
     font-size:1.12vw;
     margin:2.8vw 0;
     font-weight:600;

}
input,textarea{
    width:60vw;
    height:auto;
    padding:1.4vw 0.7vw;
    display: block;
    margin:0 auto;
    border:none;
    border-radius: 5px;
    
}
.item{
    margin-bottom:2.1vw;
}
.btn{
    width:60vw;
    height:auto;
    background-color:#da6b64;
    border-radius: 50px;
    display:block;
    margin:3.5vw auto;
    cursor: pointer;
}
.btn input{
    color:#FFF;
    background-color: #da6b64;
    font-size:1.4vw;
    border:none;
    cursor: pointer;
    outline:0;
    border-radius: 50px;

}
.faq{
    width:100vw;
    height:auto;
    margin:0 auto;
    background-color:#FFF;
}
.faq-main{
    padding:3.5vw 10vw;
}
.faq-top{
    text-align: center;
    margin-bottom:2.8vw;
}
.slide{
    display: flex;
    justify-content: space-between;
    border:1px solid #e5e5e5;
    padding:1vw 2vw 0.5vw 2vw;
    margin-bottom:0.7vw;
}
.slides{
    display:flex;
}
.slide h3{
    margin:0;
    font-size:1.4vw;
}
.answers{
    margin:0;
    font-size:1.12vw;
    color:#333333;
}
.rights{
    position: relative;
    top:1.19vw;
}
.blues{
    color:#016ea9;
    position: relative;
    top:0.5vw;
}
.gree{
    color:#e5e5e5;  
    position: relative;
    top:-1vw;
}
.answers{
    padding:0.35vw 1.4vw;
}
footer{
    width:100vw;
    max-width: 2000px;
    margin:0 auto;
    background-color: #ececec;
    font-size:0.7vw;
    font-weight:300;
}
.footer-center{
    padding-top:2.1vw;
    padding-bottom:2vw;
}
.footer1{
    color:#333333;
    text-align: center;
}
.footer1 p{
    margin:0;
}
.footer2{
    display:flex;
    justify-content: center;
    margin-top:0.7vw;
    margin-bottom:2.1vw;
}
.footer-list{
    display:flex;
    cursor: pointer;
    margin-right:0.42vw;
}
.footer3{
    text-align: center;
}
.iro{
    color:#337ab7;
    cursor: pointer;
}
.iro:hover{
    border-bottom: 2px solid#337ab7;
}
.tweet{
    background-color:rgba(0, 172, 237, 1) ;
    padding:0.21vw 0.7vw;
    border-radius: 5px;
    color:#FFFFFF;
    opacity:0.8;
}
.tweet:hover{
    opacity:1;
}
.footer-list p{
    margin:0;
}
.good{
    background-color: #3399FF;
    color:#FFFFFF;
    border-radius: 5px;
    padding:0.21vw 0.7vw;
}
.tops{
    font-size: 3.5vw;
    font-weight: bold;
    text-align: center;
    padding: 7vw 3.5vw;
    position:fixed;
    
  }
  
  .to-top{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7vw;
    height: 7vw;
    right: 0;
    bottom: 3.5vw;
    font-size: 1.4vw;
    font-weight: bold;
    color: black;
    background: #ECECEC;
    cursor: pointer;
  }
  .answers{
      display:none;
  }
  .question:hover{
      border-bottom:1px solid black;
      cursor: pointer;

  }
  @media all and (max-width: 992px) {
        .skype-main{
            display:none!important;
        }
        .skype2{
            display:inline!important;
        }
        .merit1:after{
          right:-23.4vw;
          top:4.69vw;
      }
      .answer h2:before{
          left:-17.95vw;
      }
      .answer h2:after{
          right:-17.6vw;
      }
      
      .merit-list img{
          width:7vw;
      }
      .header-main{
          display: flex;
          justify-content: space-between;
          padding-top:0;
          padding-bottom:0;
      }
      .header-right{
          display:none!important;
      }
      .header-right1{
        display:inline!important;
        background-color:#da6b64;
       
      }
      .header-right2 img{
            width:3vw;
            padding-left:0.7vw;
      }
      
      .header-right2{
        text-align: center;
        display:flex;
        flex-direction: column;
        padding:1vw 1.5vw;
      }
      .pipi{
          color:#FFF;
          font-size:0.84vw;
      }
      .header-left{
          display:flex;
          padding:1vw 0;
      }
      .header-left img{
         width:13vw;
         padding-left:2vw;
      }
      .header-left p{
         font-size:1.4vw;
         padding-top:2.5vw;
      }
      .contain{
          background-position: center;
          background-position: -310px 1137px;
          background-size: 1300px;
}

    .center{
          width:60vw;
          padding-top:15vw;
          padding-right:1vw;
      }
      .center h1{
          font-size:2.4vw;
      }
      .center img{
          width:40vw;
      }
      .center p{
          font-size:1.6vw;
      }
      .quit{
        padding: 1vw 1.3vw;
        background-color: #da6b64;
        border-radius: 50px;
        padding: 1.3vw 3vw;
        width:80vw;
        margin:0 auto;  
      }
      .zero{
          margin:0;
          width:50vw;
          margin:0 auto;
          font-size:1.4vw;
      }
      .thirty{
          font-size:1.6vw;
          padding-bottom:1vw;
      }
      .twenty{
          margin-bottom:2vw;
          
      }
      .skill-main{
          padding-bottom:2vw;
      }
      .student{
          padding-top:0.5vw;
      }
      .student h3{
          padding-bottom:1vw;
      }
      
      .free-logo{
          margin:0;
      }
      .free-logo h2{
          font-size:2.4vw;
          font-weight:bold;
      }
      .free-list p{
          font-size:1.6vw;
          padding-bottom:2vw;
      }
      .free-list{
          margin:0;
          padding-top:2vw;
      }
      .power{
          font-weight:bold;
      }
      .free-main{
          padding-top:5vw;
          padding-bottom:13vw;
      }
      .free-logo h2:before{
          left:-13vw;
          width: 4vw;
          height: 4vw;
      }
      .free-logo h2:after{
          right:-13vw;
          top:1.5vw;
          width: 4vw;
          height: 4vw;
      }
      .one h1{
          font-size:2.4vw;
      }
      .one h1:before{
          left:-24.5vw;
      }
      .one h1:after{
          right:-24.5vw;
      }
      .two h2{
          font-size:1.6vw;
      }
      .three h3{
          font-size:1.6vw;
      }
      .three{
          width:95vw;
         }
         .three h3{
             margin-top:1.5vw;
         }
    .image{
        padding-left:7.5vw;
        padding-top:1.5vw;
        padding-right:4.5vw;
        padding-bottom:1.5vw;
    }
    .an img{
        width:4vw;
    }
    .in img{
        width:3vw;
    }
    .in p{
        padding-top:1vw;
    }
    .un img{
        width:3vw;
    }
    .en img{
        width:4vw;
    }
    .en p{
        padding-top:1vw;
    }

    .on img{
        width:8vw;
    }
    .on p{
        padding-top:1vw;
    }
      .images{
          width:13vw;
      }
      .images p{
          font-size:1.2vw;
      }
      .kiso{
          width:16.5vw;
      }
      .in img{
          position: relative;
          left:2vw;
      }
      .en{
          position: relative;
          bottom:1.1vw;
      }
      .isala{
          background-position: center;
      }
      .isala2{
         flex-direction: column;
         margin-left:0;   
      }
      .isala-list{
          width:36vw;
          margin:0 auto;
          margin-bottom:1.5vw;
      }
      .list{
          padding:1vw 5.4vw;
      }
      .isala1 h3{
          font-size:2.4vw;
      }
      .isala p{
          font-size:1.6vw;
          padding:1vw 0;
      }
      .blue2{
          padding-top:2.5vw;
          padding-bottom:2.5vw;
      }
      .blue2 p{
          font-size:1.2vw;
      }
      .study2{
          margin:0;
          margin:0 auto;
      }
      .study2 img {
        width: 19vw;
      }
      .study3 p{
          font-size:1.4vw;
      }
      .seikai{
          display:none;
      }
      .merit1{
          left:0.5vw;
      }
      .merit1:before{
          left:-24vw;
      }
      .merit-list img{
          width:31vw;
      }
      .merit-list{
          width:92vw;
          margin:0;
          margin-right:1vw;
          margin-bottom:1.5vw;
          text-align: center;
          
      }
      .merit{
          margin:0;
          height:auto;
          text-align: center;
      }
      .merit2{
          display:flex;
          flex-direction: column;
          margin-top:1.5vw;
          margin-left:7.5vw;
          padding-top:4vw;
          padding-bottom:4vw;
      }
      .merit3{
         
          margin-top:3vw;
          margin-right:0;
          margin-left:3vw;
          margin-bottom:0;
          width:95vw;
      }
      .merit3-1{
          margin:0 2vw;
          padding-top:2vw;
          padding-bottom:2.5vw;
      }
      .merit4{
          bottom:0;
          padding-bottom:3vw;
      }
      .elses{
       font-size:1.5vw;
        text-align: initial;
        width:73vw;
        margin-left:10vw;
    }
      .member-main{
          margin:0;
          padding:7vw 10vw 10vw 12vw ;
      }
      .top{
          padding:0;
          position: initial;
      }
      .top p{
          padding:2vw 0;
      }
      .bottom{
          display:flex;
          flex-direction: column;
      }
      .member1{
          width:75vw;
      }
      .member1 img{
          width:12vw;
      }
      .member1 p{
          font-size:1.4vw;
      }
      .box{
          margin-right:0;
          padding:5vw;
      }
      .voice2{
          margin:0;
      }
      .letter{
          padding-right:3vw;
      }
      .letter p{
          font-size:2.1vw;
          padding-bottom:1vw;
      }
      .human{
        margin-left: 2vw;
      }
      .ques{
        width: 8.6vw;
        height: 8.6vw;
        padding-top:3vw;
      }
      .human img {
        width: 31vw;
        height: auto;
    }
      .answer-center{
          padding-bottom:5vw;
      }
      .kanou{
          font-size:2.7vw;
      }
      .syoko{
          font-size:1.6vw;
      }
      .voice1 p{
          font-size:0.9vw;
      }
      .coffee-top{
          padding-top:7vw;
      }
      .coffee-top h2{
          font-size:2.4vw;
      }
      .coffee-top p {
          font-size:1.4vw;
      }
      .plan1 p{
          font-size:1.6vw;
      }
      .plan2 p {
        font-size: 1.4vw;
      }
      .coffee-bottom{
          margin:0;
          padding-top:2.5vw;
          padding-left:21vw;
          padding-bottom:5.5vw;
          display:flex;
          flex-direction: column;
      }
      .coffee-left{
          width:60vw;
          margin-bottom:2vw;

      }
      .coffee-right{
          width:60vw;
          margin-left:0;
      }
      .skype2{
          display:block;
      }
      .toku{
          display:block;
      }
      .risk2 h2{
          padding:2vw 0;
          font-size:1.6vw;
      }
      .sanka h2 {
        margin: 0px 6vw;
    }
      .pizza2 ul{
          list-style: none;
      }

      .js-top {
        padding-top: 4.5vw;
    }
    .pizza1{
        display:flex;
        width:23vw;
        height:auto;
        margin:0 auto;
    }
    .pizza1 p{
        margin:0;
        font-size:3vw;
        font-weight:bold;
    }
   
    .hope{
        display:flex;
        justify-content: space-between;
    }
    .trash1{
        display:flex;
    }
    .trash2{
        padding-top:1.5vw;
    }
    .trash1 h3{
       padding-top:1vw;
       padding-left:2vw;
    }
    .pizza2{
        padding-right:10vw;
        padding-left:7vw;
    }
    .gomi1 img{
        width:6vw;
    }
    .gomi2 img{
        width:6vw;
    }
    .gomi3 img{
        width:6vw;
    }
    .gomi4 img{
        width:6vw;
    }

    .gomi5 img{
        width:6vw;
    }
    .peace{
        background-color:#fef5e0;
        padding:2vw;
        margin-bottom:2vw;
    }
    .hope{
        background-color: #fef5e0;
    }
    .seikai{
        background-color:#fef5e0;
    }
    .bold{
        font-size:1.4vw;
        font-weight:600;
    }
    .thin{
        font-size:1.2vw;
        font-weight:300;
    }
    .bangkok-main{
        padding-top:3vw;
        padding-bottom:5vw;
    }
    .bangkok-main h2{
        font-size:2.4vw;
    }
    .reason{
        font-size:1.2vw;
    }
    .bangkok-main li{
        font-size:1.4vw;
    }
    .kankyo{
        font-size:1.6vw;
    }
    .lite{
       font-size:2.5vw;
    }
    .lite:hover{
        border-bottom:1px solid black;

    }
      .tokuten{
          margin-left:5vw;
          width:90vw;
          display:none!important;
      }
      .tokuten1{
          width:35vw;
          margin-right:2vw;

      }
      .sanka1 h2{
          margin:0 22.7vw;
      }
      .sanka1{
        padding-top:2vw;
    }
    .toku{
        display:inline!important;
    }
    .toku h2{
         color:#ebb94d;
    }
    .toku-right p{
        color:#FFF;
        width:50vw;
    }
    .sanka2{
        border:2px solid #FFF;
        padding:5vw 4vw 2vw 7.5vw;
        margin:0 auto;
        width:80vw;
        height:auto;
    }
    .sanka1 h2{
        top:1.5vw;
    }
    .sanka-bottom{
        padding-top:0;
 
    }
    .sanka1{
        padding-top:0;
    }
   .sanka-main{
       padding-bottom:5vw;
   }
    .toku-left h2{
        margin:0;
    }
    .toku-right{
        padding-top:1.5vw;
        padding-left:5vw;
    }
    .toku-left{
        margin-bottom:1.5vw;
     
    }
    .m-bottom{
        display:flex;
        flex-direction: column;
        margin:0;
    }
    .m-left{
        width:90vw;
        text-align: center;
        
    }
    .m-left img{
        display:block;
        margin:0 auto;
        width:60vw;
        margin-left:2vw;
    }
      .leon2{
          padding-top:4vw;
          padding-bottom:6vw;
      }
      .leon-main h2 {
        font-size: 2.4vw;
    }
      .leon2 h2:before{
          top:-2vw;
          left:-17vw;
      }
      .leon-main{
          padding-top:7vw;
      }
      .leon2 h2:after{
          top:2vw;
          right:-18vw;
      }
      .message-main{
          padding-bottom:3vw;
          padding-top:5vw;
      }
      .m-bottom{
          margin-left:0;
          margin-right:0;
      }
      .m-bottom img{
          float:initial; 

      }
      .m-right{
          padding:4vw 0;
      }
      .m-right p{
          font-size:1.5vw;
      }
      .m-right li{
        font-size:1.5vw;
    }
      .m-left{
          width:75vw;
          height:auto;
      }
      .m-left img{
          width:95vw;
      }
      .m-top h2 {
        font-size: 2.5vw;
    }
    .m-top p {
        font-size: 1.7vw;
        padding:3vw 0;
    }
      #santa{
          list-style: none;
      }
      .faq-main{
          padding:7vw 4vw;

      }
      .form-main{
          padding-top:7vw;
      }
      input, textarea {
          width:70vw;
      }
      .btn{
          width:70vw;
      }
      .toku-list{
        display:flex;
    }
    .toku-left{
        background-color:#FFF;
        width:14vw;
        height:10vw;
        padding-top:3vw;
        border-radius: 50%;
        text-align: center;
    }
    .sanka1{
        padding-top:2vw;
    }
    .toku h2{
         color:#ebb94d;
    }
    .slide{
        padding: 1vw 2vw 0.5vw 2vw;
    }
    .slides{
        padding-top:0.5vw;
    }
    
}


 @media all and (max-width:460px){

    .free-logo h2:after{
        right:0;
    }
    .one h1:after{
        right:-20.3vw;
    }
    .merit1:after{
        right:-27.4vw;
    }
    .header-left{
        flex-direction: column-reverse;
        padding-top:1.7vw;
        padding-left:1.7vw;
    }
    .header-left p{
        margin:0;
        padding:0;
    }
    .header-left img{
        padding:0;
        width:15vw;
    }
    .header-right{
        display:none;
    }
    
    .header-right1{
        width:13vw;
        float:right;
        background-color:#da6b64;
        margin:0 0 0 auto;
        
       
    }
    .header-right2{
        display:flex;
        flex-direction: column;
        padding:1vw;
        
    }
    .header-right1 img{
        color:black;
        width:4vw;
        margin-left:2.9vw;
    }
    .center h1 {
        font-size: 6.4vw;
    }
    .center img {
        width: 75vw;
    }
    .about {
        background-color: #ebb94d;
        border-radius: 50%;
        width: 15vw;
        height: 12vw;
        color: #FFFFFF;
        font-size: 2vw;
        font-weight: normal;
        margin: 0 auto;
        position: relative;
        bottom: 5.5vw;
    }
    .about p {
        top:4vw;
    }
    .pipi{
        color:#FFF;
    }
    .pipi:hover{
        border-bottom:1px solid #FFF;
    }
    .contain{
        background-position: -44vw 1vw;
        background-size: 200vw;
    }
    .center{
        width:90vw;
    }

    .quits{
        padding:0;
    }
    .quit a{
        color:#FFF;
    }
    .br::before {
        content: "\A" ;
        white-space: pre ;
    }
    .twenty{
        margin-bottom:3.4vw;
    }
    .thirty{
        padding-top:1.7vw;
    }
    .free-list p{
        width:30vw;
        margin:0 auto;

    }
    .free-main{
        padding-top:4.25vw;
    }
    .free-logo h2{
        font-size:3.3vw;
    }
    .free-list{
        padding:0;
    }
    .free-list p{
        width:80vw;
        font-size:2.5vw;
    }
    .free-logo h2:before {
        top:-1.74vw;
        left:-5.65vw;
    }
    .free-logo h2:after{
        top:11.2vw;
        right:-6.1vw;
    }
    .two h2 {
        font-size: 3.74vw;
    }
    .one h1:before {
        left:-25vw;
    }
    .kadai{
        margin: 0px 5.1vw;
    }
    .blue2{
        padding-top:4.2vw;
    }
    .isala-list {
        width: 90vw;
    }
    .merit2{
        display:flex;
        flex-direction: column;
        margin:0 auto;
        text-align: center;
    }
    .merit3{
        width:81vw;
        margin:0 auto;
        margin-top:9.35vw;
    }
    .merit-list{
        width:95vw;
    }
    .merit-list img{
        width: 90vw;
        margin-left:5vw;
    }
   .support{
       padding-bottom:3.4vw;
   }
    .merit-list img{
        margin-top:5.1vw;
    }
    .elses{
        width:80vw;
    }
    .bottom {
        display: flex;
        flex-direction: column;    
    }
    .member{
        background-size: 2500px;
        background-position: -600px -7px;
    }
    .member1{
        width:90vw;
    }
    .box{
        padding:3.4vw;
    }
    .human{
        width:25vw;
        margin-left:3.4vw;
    }
    .human img{
        width:24vw;
        
    }
    .letter{
        width:70vw;
        font-size:3.4vw;
        height:auto;
        padding-right:1.7vw;
        padding-left:1.7vw;
    }
    .coffee-bottom{
        display:flex;
        flex-direction: column;
    }
    .skype-main{
        display:none;
    }
    .pizza1{
        display:flex;
        width:30vw;
        margin:0 auto;
        padding-bottom:3vw;
    }
    .pizza1 p{
        font-size:5.1vw;
        font-weight:bold;
    }
    .saru5{
        font-size:5.5vw;
        margin-top:1vw;
    }
   .image{
       display:flex;
       flex-wrap: wrap;
   }
   .images {
    width: 24vw;
    }   
    .hope{
        display:flex;
        justify-content: space-between;
    }
    .kiso{
        width:30vw;
    }
    .trash1{
        display:flex;
    }
    .trash1 h3{
        margin:0;
        padding-top: 3vw;
        padding-left: 6vw;
    }
    .pizza2{
        padding-right: 4vw;
    padding-left: 4vw;
    }
    .gomi1 img{
        width:12vw;
    }
    .gomi2 img{
        width:14vw;
    }
    .gomi3 img{
        width:14vw;
    }
    .gomi4 img{
        width:11vw;
    }

    .gomi5 img{
        width:10vw;
    }

    .peace{
        background-color:#fef5e0;
        padding:3.4vw;
        margin-bottom:3.4vw;
    }
    .hope{
        background-color: #fef5e0;
    }
    .seikai{
        background-color:#fef5e0;
        padding-top:4vw;
    }
    .bold{
        font-size:1vw;
        font-weight:600;
    }
    .merit3-1 p {
        font-weight: bold;
        font-size:0.5vw;
        margin: 0.3vw 0;
    }
    .merit3 span {
        font-size: 4.5vw;
    }
    .merit3 h3 {
        font-size: 3.4vw;
        margin: 1.4vw 0;
    }
    .merit4{
        width:95vw;
    }
    .thin{
        font-size:2vw;
        font-weight:300;
    }
    .bangkok h2{
        text-align: center;
    }
    ul{
        list-style: initial;
    }
   .bangkok{
    background-size: 1733px;
    background-position: -11px -103px;
   }

   .tokuten{
       display:none;
       
   }
   .toku-list{
       display:flex;
   }
   .toku-left{
       background-color:#FFF;
       width:16vw;
       height:16vw;
       padding-top:5.1vw;
       border-radius: 50%;
       text-align: center;
   }
   .sanka1{
       padding-top:3.4vw;
   }
   .toku h2{
        color:#ebb94d;
   }
   .toku-right p{
       color:#FFF;
       width:40vw;
       height:auto;
       font-size:1.5vw;
   }
   .sanka2{
       border:2px solid #FFF;
       padding:8.4vw 6.8vw 6.8vw 4.75vw;
       margin:0 auto;
       width:80vw;
       height:auto;
   }
   .sanka1 h2{
       top:2.18vw;
   }
   .sanka-bottom{
       padding-top:0;

   }
   .sanka1{
       padding-top:0;
   }
   .golira{
       width:30vw;
   }
  
   .toku-left h2{
      font-size:3vw;
   }
   .toku-right{
       padding-top:2.55vw;
       padding-left:8.5vw;
   }
   .toku-left{
       margin-bottom:2.55vw;
    
   }
   .m-bottom{
       display:flex;
       flex-direction: column;
       margin:0;
       
   }
   .m-left{
       width:60vw;
       text-align: center;
       
   }
   .m-left img{
       display:block;
       margin:0 auto;
       width:90vw;
       margin-left:5vw;
   }
   .m-right{
       margin:0 auto;
   }
   ul{
       list-style: none;
   }
   input, textarea {
    width: 90vw;
}
.btn {
    width: 90vw;
}
   .slide h3{
       margin-top:0.5vw;
   }
   .saru{
       font-size:1vw;
   }
   .card{
       font-size:5vw;
   }
   .member-main {
    margin: 0;
    padding: 7vw 10vw 10vw 5vw;
}
.answer h2{
    font-size:4vw;
}
.ques {
    width: 15vw;
    height: 15vw;
    padding-top: 4.5vw;
}
.an,.on{
    padding-top:7vw;
    margin-left:9vw;
}
.an img{
    width:10vw;
}
.in img{
    width:10vw;
}
.un img{
    width:10vw;
}
.en img{
    width:10vw;
}
.on img{
    width:15vw;
}
.three h3 {
   padding:4vw 0;
}
.bangkok-main li {
    font-size: 0.9vw;
   line-height: initial;
    padding: 0.5vw 0;
    padding-left: 2vw;
}
 
 }
   

  
