*{
    box-sizing: border-box;
}
body{
    margin:0;
}
header{
    width:100%;
    height:75px;
    margin:0;
    background-color:#FFF;
    position: fixed;
    z-index:5;
}
a{
    text-decoration: none;
}

.header-main{
    display:flex;
    margin:0;
}
.header-left{
    width:40%;
    padding:15px 0 0 130px;
}
.header-left img{
    width:30%;
    height:auto;
    
}
.header-left p{
    font-size:14px;
    font-weight: 600;
    float:right;
    letter-spacing: 2px;
    padding:10px 0px 0 0;
    
}
.header-right{
    width:60%;
    padding:20px 140px 0 0;
    font-weight: lighter;
    display:inline!important;
    
    
}
.header-right1{
    display:none!important;
}
.right{
    color:#FFFFFF;
    background-color:#da6b64;
    padding:10px 45px;
    border-radius: 25px;
    font-size:14px;
    opacity:0.9;
    float:right;
    font-weight: lighter;
}
.right:hover{
    opacity:1;
}
.contain{
    width:100%;
    height:auto;
    margin:0;
    background-image: url(../image/main.jpg);
    background-size: cover;
}
.container{
    width:100%;
     height:550px;  
}
.center{
    width: 30%;             
    height: 100px;               
    margin:  0 auto;
    padding:130px 50px 0px 0;
    text-align: center;
}
.center img{
    width:80%;
    height:auto;
    margin:10px 0;
}
.center h1{
    font-size:28px;
    color:#333333;
    font-weight: 600;
    
}
.center p{
    font-size:20px;
    color:#333333;
    font-weight: 600;
    
}
.skill{
    width:100%;
    height:auto;
    margin:0 auto;
    background-color: #ebb94d;
}
.skill-main{
    width:100%;
    height:auto;
    text-align: center;
    
    
}
.skill-list{
    
   color:#FFFFFF;
   padding:15px;
   
}
.skill-list h3{
    font-size:21px;
    font-weight:normal;
    
}
.zero{
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    padding:1px 2px;
    font-size:18px;
   margin:15px 470px;
    font-weight:bold;

}
.quit{
    background-color:#da6b64;
    padding:30px 0;
    color:#FFFFFF;
    font-size:30px;
    border-radius: 50px;
    opacity:0.9;
    width: 70%;
    height: auto;
    margin: 0 auto;
}
.quit:hover{
    opacity:1;
}

 .student{
     padding-top:0;
     
 }
 .try{
    display:flex;
    justify-content: center;

    

}
.error{
    margin-right:10px;
}
.error p{
    margin:0;
    font-size:6px;
   
}
.tweets{
    display:flex;
    background-color:rgba(0, 172, 237, 1) ;
    border-radius: 5px;
    padding:5px 15px;
    opacity:0.8;
    
    
 }
 .tweets:hover{
     opacity:1;
     cursor: pointer;
 }
 .tweets i{
     position: relative;
     top:2px;
 }
 .goods{
     display:flex;
    background-color:rgba(0, 99, 220, 1) ;
    border-radius: 5px;
    padding:5px 15px;
    cursor: pointer;

 }
  
 .share p{  
     background-color:rgba(0, 99, 220, 1) ;
     border-radius: 5px;
     padding:5px 10px;
     cursor: pointer;
 }
 .twitter i{
     position: relative;
     top:10px;
}
 .goods i{
    position: relative;
    
    
     
     
 }
 .twenty{
    margin-bottom:70px;
     
 }
 .thirty{
     font-size:20px;
     margin:0;
     padding-top:25px;
 }
.free{
    width:100%;
    height:auto;
    margin:0 auto;
    background-image: url(../image/street.jpg);
    background-size: cover;
    background-position: center center;
    
    
}
.free-main{
    margin:0;
    padding-bottom:100px;
    text-align: center;
    color:#333333;
}
.free-logo{
    margin-top:50px;
}
.free-logo h2{
    font-size:28px;
    font-weight: normal;
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
}
.free-logo h2:before {
    content: '';
    position: absolute;
    left: -70px;
    top: -20px;
    display: inline-block;
    width: 40px;
    height: 40px;   
    border-top :4px solid #ebb94d;
    border-left:4px solid #ebb94d;
    
  }
  .free-logo h2:after{
    content: '';
    position: absolute;
    right:-70px;
    top:20px;
    display: inline-block;
    width: 40px;
    height: 40px;   
    border-bottom :4px solid #ebb94d;
    border-right:4px solid #ebb94d;

  }
.free-list{
    margin-top:20px;
    
}
.free-list p{
    font-size:22px;
    padding-bottom:10px;
    
}
.power{
    border-bottom: 6px solid #ebb94d;
}
.nomado{
    background-color:#fef5e0;
    width:100%;
    height:646px;
    margin:0;
    text-align: center;
}
.one h1{
    position: relative;
    display: inline-block;
    margin-bottom: 1em;
    color:#333333;
}
.one h1{
    font-size:25px;
    letter-spacing: 5px;
}
.two h2{
    font-size:20px;
    color:#333333;

}
.three h3{
    font-size:20px;
    color:#333333;
    letter-spacing: 4px;
    margin:30px 0 0 0 ;
}
.one h1:before {
    content: '';
    position: absolute;
    left: -250px;
    top: -50px;
    display: inline-block;
    width: 60px;
    height: 60px;   
    border-top :4px solid #ebb94d;
    border-left:4px solid #ebb94d;
    
  }
  .one h1:after{
    content: '';
    position: absolute;
    right:-250px;
    top:50px;
    display: inline-block;
    width: 60px;
    height: 60px;   
    border-bottom :4px solid #ebb94d;
    border-right:4px solid #ebb94d;

  }

.about{
    background-color:#ebb94d;
    border-radius: 50%;
    width:100px;
    height:100px;
    color:#FFFFFF;
    font-size:14px;
    font-weight: normal;
    margin:0 auto;
    position: relative;
    bottom:50px;
    


}
.about p{
    margin:0;
    position:relative;
    top:40px;
    
}
.image{
    display:flex;
    margin:0 auto;
   
}
.images{
    margin-right:40px;
    
}
.images p{
    font-size:12px;
    color:#333333;
   
    
}
.two{
    margin:40px 0;
}
.three{
    background-color:#FFFFFF;
    border:2px solid #ebb94d;    
    width: 80%;
    height: auto;
    padding: 0;
    margin: 0 auto;
}
.image{
    padding-top:30px;
    padding-bottom:30px;
    padding-right:30px;
    padding-left:235px;
}
.isala{
    width:100%;
    height:441px;
    margin:0;
    background-image: url(../image/hand.jpg);
    background-size:cover;
}

.isala-main{
    display: flex;
    flex-direction: column;
   
}
.isala1{
    text-align: center;
    margin-top:60px;
    letter-spacing: 3px;
   
}
.isala1 h3{
    font-size:28px;
    color:#FFFFFF;
    margin:0;
}
.isala1 p{
    font-size:20px;
    color:#FFFFFF;
}
.step{
    font-size:16px;
    color:#FFFFFF;
    background-color: #ebb94d;
    border-radius: 5px;
    margin-bottom:30px;
}
.bankoku{
    font-size:14px;
    color:#000000;
    font-weight: bold;
}
.kadai{
    font-size:16px;
    color:#000000;
    font-weight: bold;
}
.support{
    color:#ebb94d;
}
.isala2{
    display:flex;
    flex-direction: row;
    margin-left:200px;
    
    
}
.isala-list{
    background-color:#FFFFFF;
    border-radius: 5px;
    width:25%;
    height:auto;
    text-align: center;
    margin-right:20px;
}
.list{
    padding:15px 30px;
    
}
.blue{
    background-color:#016EA9;
    width:100%;
    height:144px;
}
.blue2{
    text-align: center;
    padding-top:40px;
}
.blue2 p{
    font-size:20px;
    color:#FFFFFF;
    margin:0;
    letter-spacing:2px;
}
.study{
    width:100%;
    height:507px;
    margin:0;
    color:#333333;
}
.study-main{
    text-align:center;
    display: flex;
    flex-direction: column;
}
.study2{
    display:flex;
    padding:35px 0;
    margin-left:300px;
}
.study1 h3{
    font-size:28px;
}
.study1 p{
    font-size:20px;
}
.study3 p{
    font-size:16px;
    font-weight:bold;
}
.study2 img{
    width:80%;
    height:auto;
}
.study1{
    padding-top:30px;
}
.studys{
    font-size:16px;
}
.merit{
    width:100%;
    height:auto;
    margin:0;
    background-color: #fef5e0;
    color:#333333;
}
.merit-main{
    padding-top:50px;
}
.merit1{
    position: relative;
    left:530px;
    display: inline-block;
    margin-bottom: 1em;
    margin:10px 0;
}
.prog2{
    font-size:28px;
    margin:0;
  
}

.prog{
    font-size:20px;
    margin:0;
}

.merit1:before {
    content: '';
    position: absolute;
    left: -200px;
    top: -20px;
    display: inline-block;
    width: 50px;
    height: 50px;   
    border-top :4px solid #ebb94d;
    border-left:4px solid #ebb94d;
    
  }
  .merit1:after{
    content: '';
    position: absolute;
    right:-190px;
    top:40px;
    display: inline-block;
    width: 50px;
    height: 50px;   
    border-bottom :4px solid #ebb94d;
    border-right:4px solid #ebb94d;

  }
.merit2{
    display:flex;
    margin-top:40px;
  margin-left:100px;
    
}



.metit1 p{
    font-size:28px;
    font-weight:bold;
}
.merit-list{
    width:30%;
    height:auto;
    
}
.merit2 span{
    font-size:20px;
}
.else{
    font-size:16px;
}
.merit3{
    text-align: center;
    background-color:#FFFFFF;
    border:3px solid #ebb94d;
    margin:40px 135px;
    position:relative;
    bottom:25px;
    
    
}
.merit-list{
    width:23%;
    height:auto;
    margin-left:80px;
    
    
}
.merit-list img{
    width:360px;
    height:auto;
}
.merit3-1{
    padding:40px 30px;
}
.merit3-1 p{
    font-weight:bold;
    margin:5px 0;
    
}
.merit3 span{
    font-size:28px;
}
.merit3 h3{
    font-size:20px;
    margin:20px 0;
}
.merit4{
    text-align: center;
    font-size:14px;
    position:relative;
    bottom:40px;
    
}
.merit4 p{
    margin:0;
}
.member{
    width:100%;
    height:1382px;
    margin:0;
    background-image: url(../image/mountain.jpg);
    background-size: cover;
    color:#FFFFFF;
}
.member-main{
    margin:0 380px;
    text-align: center;
    padding-top:80px;
    
}

.member1 img{
    width:200px;
    height:auto;
    border-radius: 50%;
    position:relative;
    top:30px;
   
    
}
.bottom{
    display:flex;
    flex-wrap: wrap;
    
}
.member1{
    width:50%;
}
.card{
    font-size:28px;
    padding-bottom:20px;
}
.top p{
    font-size:16px;
}
.member1 p{
    font-size:16px;
    font-weight:lighter;
}
.box{
    border:2px solid #FFFFFF;
    padding:24px;
    margin-right:20px;
    
    
}
.box p{
    margin-bottom:10px;
}
.teacher{
    text-align: initial;
}
.answer{
    width:100%;
    height:270px;
    background-color:#ebb94d;
    text-align: center;

}
.answer-center{
    padding-top:30px;
}
.ques{
    width: 80px;
    height: 80px; 
    background-color:#FFF;
    border-radius: 50%; 
    margin: 0 auto;
    color:#ebb94d;
    padding:10px;
  
  
   
    
}


.answer h2{
    color:#FFF;
    position:relative;
    display: inline-block;
    margin-bottom: 1em;
    margin:10px 0;
}
.answer h2:before {
    content: '';
    position: absolute;
    left: -200px;
    top: -20px;
    display: inline-block;
    width: 50px;
    height: 50px;   
    border-top :4px solid #FFF;
    border-left:4px solid #FFF;
    
  }
  .answer h2:after{
    content: '';
    position: absolute;
    right:-190px;
    top:40px;
    display: inline-block;
    width: 50px;
    height: 50px;   
    border-bottom :4px solid #FFF;
    border-right:4px solid #FFF;

  }
.voice{
    width:100%;
    height:auto;
    margin:0;
}
.voice-list{
    display:flex;
}
.yellow{
    width: 0;
	height: 0;
    border: 40px solid transparent;
    border-top: 40px solid #ebb94d;
    margin:0 auto;
   
}
.kanou{
    font-size:28px;
    font-weight: 600;
    padding-bottom: 15px;
}
.syoko{
    font-size:16px;
    font-weight: 600;
}
.voice1{
    text-align: center;
}
.voice1 h2{
    margin:0;
}
.voice1 p{
    font-size:14px;
    font-weight: 300;
    color:#777777;
    padding-bottom:15px;
}
.human{
    border:2px solid #ebb94d;
    margin-bottom:40px;
}
.human img{
    width:244px;
    height:auto;
}
.letter{
    padding-left:40px;
}
.letter p{
    font-size:18px;
    color:#777777;
}
.voice2{
    margin:0 362px;
}
.border{
    text-decoration: underline;
}
.coffee{
    width:100%;
    height:800px;
    font-weight:600;
    margin:0;
    background-image: url(../image/coffee.jpg);
    background-size: cover;
}
.coffee-bottom{
    display:flex;
    
    margin:50px 400px;
}
.coffee-top{
    padding-top:70px;
}
.coffee-top h2{
    color:#FFFFFF;
    font-size:28px;
    text-align: center;
}
.coffee-top p{
    color:#FFFFFF;
    font-size:16px;
    text-align: center;
    margin:0;
}
.coffee-left{
    width:100%;
}


.plan1 p{
    color:#FFFFFF;
    margin:0;
    font-size:20px;
   


}
.plan2 p{
    color:#000000;
    font-size:16px;
    margin:0;
    padding:10px;
    
    border-bottom:1px dotted #e5e5e5;
}
.plan3 p{
    color:#000000;
    padding:10px;
    font-size:16px;
    margin:0;
    border-bottom:1px dotted #e5e5e5;

}
.plan1{
    background-color:#016ea9;
    text-align: center;
    padding:15px 50px;
}
.plan2{
    background-color:#FFFFFF;
    
    text-align: center;
}
.plan3{
    background-color:#FFFFFF;
   
    text-align: center;

}
.plan5{
    background-color:#016ea9;
    text-align: center;
    padding:15px 70px;

}
.plan5 p{
    color:#FFFFFF;
    margin:0;
    font-size:20px;
   

}
.coffee-left{
    border:2px solid #016ea9;
    border-radius: 5px;
}
.coffee-right{
    width:100%;
    height:350px;
    border:2px solid #016ea9;
    border-radius: 5px;
    margin-left:29px;
    background-color: #FFF;
}
.risk{
    width:100%;
    height:144px;
    margin:0;
    background-color: #016ea9;
}
.risk h2{
    font-size:20px;
    color:#FFF;
    margin:0;
    text-align: center;
    padding-top:40px;
}
.skype{
    width:100%;
    height:1825px;
    margin:0;
    background-color: #FFF;
}
.skype1{
    width:100%;
    height:auto;
}
.skype-main{
    padding-top:60px;
    display:inline!important;
}

.skype-top{
    display:flex;
    flex-direction: column;
    text-align: center;
}
.skypes{
    display:flex;
}
.skype-top img{
    width:65%;
    height:auto;
    margin:60px auto;
   
}
.s-left{
    width:40%;
    height:auto;
    text-align: center;

}
.s-left h2{
    font-size:18px;
    color:#333333;
    font-weight:600;
}
.bold{
    font-size:16px;
    font-weight:600;
    color:#333333;
}
.lighter{
    font-size:14px;
    font-weight:300;
    color:#333333;
}
.skypes{
    background-color: #fef5e0;
    padding:15px 35px;
    border-radius: 5px;
    width:80%;
    margin:0 auto;
}
.s-right{
    padding-left:20px;
}
.skype2{
    width:100%;
    height:auto;
    display:none;
    display:none!important;
}

.flight{
    width:15%;
    height:auto;

}
.anken{
    width:20%;
    height:auto;
}
.kikoku{
    width:18%;
    height:auto;
}
.line{
    display:block;
    margin:0 auto;
    width:53%;
    height:auto;
}
.bangkok{
    width:100%;
    height:496px;
    margin:0;
    background-image: url(../image/bangkokbg.jpg);
    background-size: cover;
    color:#FFF;
}
.bangkok-main{
    padding:80px;
}
.bangkok-main h2{
    font-size:24px;
}
.bangkok-main li{
    font-size:16px;
    line-height: 35px;
}
.reason{
    font-size:14px;
    font-weight:300;
}

.kankyo{
    font-size:20px;
}
.sanka{
    width:100%;
    height:659px;
    margin:0;
    background-color: #ebb94d;
}
.sanka-main{
    padding-top:60px;
}
.sanka-top{
    text-align: center;
    color:#333333;

}
.sanka-top p{
    font-size:16px;
    font-weight:600;
    margin-top:40px;
}
.sanka-bottom{
    padding-top:40px;
    
}
.white{
    color:#FFF;
    
}

.sanka1 h2{
    font-size:28px;
    font-weight:500;
    text-align: center;
    margin:0 400px;
    position:relative;
    top:20px;
    background-color: #ebb94d;
    
}
.tokuten{
    display:flex;
   
    width:85%;
    padding:30px 100px;
    height:auto;
    border:2px solid #FFF;
    margin-left:100px;

  
}
.tokuten1{
    background-color: #FFF;
    padding:40px 20px;
    border-radius: 50%;
    width:25%;
    height:auto;
    text-align: center;
    justify-content: space-between;
    margin:0 auto;
}

.tokuten h2{
    color:#ebb94d;
}
.tokuten1 p{
    font-size:14px;
}
.toku{
    display:none!important; 
}
.leon{
    width:100%;
    height:526px;
    background-image: url(../image/detail.jpg);
    background-size: cover;
    color:#FFF;
}
.leon-main{
    text-align: center;
    padding-top:25px;
}
.leon-main h2{
    font-size:28px;
}
.leon-main p{
    font-size:20px;
    margin:8px 0;
}
.leon2 h2{
    position:relative;
    display: inline-block;
    margin-bottom: 1em;
    margin-top:30px;
}
.leon2 h2:before {
    content: '';
    position: absolute;
    left: -150px;
    top: -20px;
    display: inline-block;
    width: 50px;
    height: 50px;   
    border-top :4px solid #FFF;
    border-left:4px solid #FFF;
    
  }
  .leon2 h2:after{
    content: '';
    position: absolute;
    right:-150px;
    top:5px;
    display: inline-block;
    width: 50px;
    height: 50px;   
    border-bottom :4px solid #FFF;
    border-right:4px solid #FFF;

  }
  .message{
      width:100%;
      height:623px;
      background-color: #FFF;
      color:#333333;

  }
  .message-main{
     padding-top:40px;
  }
  .m-top{
      text-align: center;
  }
  .m-bottom{
      display:flex;
      padding-top:30px;
      margin:0 250px 0 200px;
  }
  .m-left{
      width:50%;
      height:auto;
  }
  .m-right{
      width:77%;
      height:auto;
      margin-left:40px;
      
  }
  .m-bottom img{
      width:53%;
      height:auto;
      float:right;
  }
  .m-top h2{
      font-size:28px;
  }
  .m-top p{
      font-size:20px;
      font-weight:600;
  }
  .m-bottom li{
      font-size:14px;
  }
  .m-bottom p{
      font-size:14px;
  }
.form{
    width:100%;
    height:704px;
    background-color: #ebb94d;
}
.form-main{
    padding-top:60px;

}
.f-top{
    text-align: center;
    color:#333333;
}
.f-top p{
     font-size:16px;
     margin:40px 0;
     font-weight:600;

}
input,textarea{
    width:60%;
    height:auto;
    padding:20px 10px;
    display: block;
    margin:0 auto;
    border:none;
    
}
.item{
    margin-bottom:30px;
}
.btn{
    width:60%;
    height:auto;
    background-color:#da6b64;
    border-radius: 50px;
    display:block;
    margin:50px auto;
    cursor: pointer;
}
.btn input{
    color:#FFF;
    background-color: #da6b64;
    font-size:20px;
    border:none;
    cursor: pointer;
    outline:0;

}
.faq{
    width:100%;
    height:auto;
    margin:0 auto;
    background-color:#FFF;
}
.faq-main{
    padding:50px 144px;
}
.faq-top{
    text-align: center;
    margin-bottom:40px;
}
ul{
    list-style: none;
}

.slide{
    display: flex;
    justify-content: space-between;
    border:1px solid #e5e5e5;
    padding:0 20px;
    margin-bottom:10px;
}
.slides{
    display:flex;
}
.
.slide h3{
    margin:0;
    font-size:20px;
}
.answers{
    margin:0;
    font-size:16px;
    color:#333333;
}
.rights{
    position: relative;
    top:17px;
}
.blues{
    color:#016ea9;
    position: relative;
    top:25px;
}
.gree{
    color:#e5e5e5;
    
    
}

.answers{
    padding:5px 20px;
}
footer{
    width:100%;
    height:178px;
    margin:0 auto;
    background-color: #ececec;
    font-size:10px;
    font-weight:300;
}
.footer-center{
    padding-top:30px;
}
.footer1{
    color:#333333;
    text-align: center;
    

}
.footer1 p{
    margin:0;
}
.footer2{
    display:flex;
    justify-content: center;
    margin-top:10px;
    margin-bottom:30px;
}
.footer-list{
    display:flex;
    cursor: pointer;
    margin-right:6px;
}
.footer3{
    text-align: center;
}
.iro{
    color:#337ab7;
    cursor: pointer;
}
.iro:hover{
    border-bottom: 2px solid#337ab7;
}
.tweet{
    background-color:rgba(0, 172, 237, 1) ;
    padding:3px 10px;
    border-radius: 5px;
    color:#FFFFFF;
    opacity:0.8;
}
.tweet:hover{
    opacity:1;
}
.footer-list p{
    margin:0;
}
.good{
    background-color: #3399FF;
    color:#FFFFFF;
    border-radius: 5px;
    padding:3px 10px;
}
.tops{
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    padding: 100px 50px;
    position:fixed;
    
  }
  
  .to-top{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    right: 0;
    bottom: 50px;
    font-size: 20px;
    font-weight: bold;
    color: black;
    background: #ECECEC;
    cursor: pointer;
  }
  .answers{
      display:none;
  }
  .question:hover{
      border-bottom:2px solid black;
      cursor: pointer;

  }
  @media all and (max-width: 768px) {
      body {
            min-width: 900px;
        }
        .br::before {
            content: "\A" ;
            white-space: pre ;
        }
        .skype-main{
            display:none!important;
        }
        .skype2{
            display:inline!important;
        }

        .merit1:after{
          right:-192px;
          top:67px;
      }
      .answer h2:before{
          left:-185px;
      }
      .answer h2:after{
          right:-180px;
      }
      
      .merit-list img{
          width:100px;
      }
      .header-main{
          display: flex;
          justify-content: space-between;
      }
      .header-right{
          padding:20px 10px;
          display:none!important;
      }
      .header-right1{
        width: auto;
        height: 75px;
        display:inline!important;
        background-color:#da6b64;
       
      }
      .header-right2 img{
          width:50%;
          height:auto;
          margin-left:10px;
      }
      
      .header-right2{
        text-align: center;
        padding: 17px 11px;
        display:flex;
        flex-direction: column;
        
      }
      .pipi{
          color:#FFF;
          font-size:12px;
      }
      .header-left{
          display:flex;
          flex-direction: column-reverse;
          padding-left:15px;
          padding-top:0;

      }
      .header-left img{
          width:30%;
          height:auto;
      }
      .header-left p{
          font-size:12px;
          margin:0;
          padding:0;
          
      }
    
      .container{
          height:534px;
      }
      .contain{
          background-position: center;
          background-position: -310px 1137px;
          background-size: 1300px;
}

    .center{
          width:60%;
          padding-top:150px;
          padding-right:10px;


      }
      .center h1{
          font-size:24px;
      }
      .center img{
          width:40%;
          height:auto;

      }
      .center p{
          font-size:16px;

      }
      .quit{
        padding: 10px 13px;
        background-color: #da6b64;
        border-radius: 50px;
        padding: 13px 30px;
        width:80%;
        margin:0 auto;
        
      }
      .zero{
          margin:0;
          width:50%;
          margin:0 auto;
          font-size:14px;
          
      }
      .skill{
          height:auto;
      }
      .thirty{
          font-size:16px;
          padding-bottom:10px;
      }
      .twenty{
          margin-bottom:20px;
          
      }
      .student{
          padding-top:5px;
      }
      
      .free-logo{
          margin:0;
      }
      .free{
          height:auto;
      }
      .free-logo h2{
          font-size:24px;
          font-weight:bold;
      }
      .free-list p{
          font-size:16px;
          padding-bottom:20px;
      }
      .free-list{
          margin:0;
          padding-top:20px;
      }
      .power{
          font-weight:bold;
      }
      .free-main{
          padding-top:50px;
      }
      .free-logo h2:before{
          left:-230px;
          width: 40px;
          height: 40px;
      }
      .free-logo h2:after{
          right:-230px;
          top:45px;
          width: 40px;
          height: 40px;
      }
      .nomado{
          height:auto;
          padding-bottom:100px;
      }
      .one h1{
          font-size:24px;
      }
      .one h1:after{
          right:-245px;
      }
      .two h2{
          font-size:16px;
      }
      .three h3{
          font-size:16px;
      }
      .three{
          width:95%;
         }
         .three h3{
             margin-top:15px;
         }
    .image{
        padding-left:45px;
        padding-top:15px;
        padding-right:45px;
        padding-bottom:15px;
    }
    .an img{
        width:40%;
        height:auto;
    }
    .in img{
        width:30%;
        height:auto;
    }
    .in p{
        padding-top:10px;
    }
    .un img{
        width:30%;
        height:auto;
    }
    .en img{
        width:40%;
        height:auto;
    }
    .en p{
        padding-top:10px;
    }

    .on img{
        width:80%;
        height:auto;
    }
    .on p{
        padding-top:10px;
    }
    
      .images{
          width:20%;
          height:auto;
      }
      .images p{
          font-size:12px;
      }
      .kiso{
          width:124%;
          height:auto;
          
      }
      .in img{
          position: relative;
          left:20px;
      }
      .en{
          position: relative;
          bottom:11px;
      }
      .isala{
          height:auto;
          background-position: center;
      }
      .isala2{
         flex-direction: column;
         margin-left:0;
         
      }
      .isala-list{
          width:36%;
          margin:0 auto;
          margin-bottom:15px;
      }
      .list{
          padding:10px 54px;
      }
      .isala1 h3{
          font-size:24px;
      }
      .isala p{
          font-size:16px;
      }
      .blue{
          height:auto;
      }
      .blue2{
          padding-top:25px;
          padding-bottom:25px;
      }
      .blue2 p{
          font-size:12px;
      }
      .study{
          height:536px;
      }
      .study2{
          margin:0;
          margin:0 auto;
      }
      .merit1{
          left:5px;
      }
      .merit1:before{
          left:-200px;
      }
      .merit-list img{
          width:300px;
          height:120px;
          
      }
      .merit-list{
          width:92%;
          margin:0;
          margin-right:10px;
          margin-bottom:15px;
          text-align: center;
          
      }
      .merit{
          margin:0;
          height:auto;
          text-align: center;
      }
      .merit2{
          display:flex;
          flex-direction: column;
          margin-top:15px;
          margin-left:75px;
          padding-top:40px;
          padding-bottom:40px;
      }
      .merit3{
         
          margin-top:30px;
          margin-right:0;
          margin-left:30px;
          margin-bottom:0;
          width:95%;
      }
      .merit3-1{
          margin:0 20px;
          padding-top:20px;
          padding-bottom:25px;
      }
      .merit4{
          bottom:0;
          padding-bottom:30px;
      }
      .elses{
        padding-left:0;
        text-align: initial;
        width:100%;
        height:auto;
        margin:0;
    }
      .member-main{
          margin:0;
          padding:70px 100px 100px 100px ;
      }
      .top{
          padding:0;
          position: initial;
      }
      .bottom{
          display:flex;
          flex-direction: column;
      }
      .member{
          height:auto;
      }
      .member1{
          width:100%;
      }
      .member1 img{
          width:120px;
      }
      .box{
          margin-right:0;
      }
      .voice2{
          margin:0;
      }
      .letter{
          padding-right:90px;
      }
      .letter p{
          font-size:21px;
      }
      .human{
        margin-left: 20px;
      }
      .coffee{
          height:auto;
      }
      .coffee-top{
          padding-top:20px;
      }
      .coffee-bottom{
          margin:0;
          padding-top:55px;
          padding-left:90px;
          padding-bottom:55px;
          display:flex;
          flex-direction: column;
      }
      .coffee-left{
          width:90%;
          height:auto;
          margin-bottom:20px;

      }
      .coffee-right{
          width:90%;
          height:auto;
          margin-left:0;

      }
      .skype{
          height:auto;
      }
      .skype2{
          display:block;
      }
      .toku{
          display:block;
      }
      .risk{
          height:auto;
      }
      .risk2 h2{
          padding:20px 0;
      }
      .sanka h2 {
        margin: 0px 60px;
    }
      .pizza2 ul{
          list-style: none;
      }

      .js-top {
        padding-top: 45px;
    }
    .pizza1{
        display:flex;
        width:23%;
        height:auto;
        margin:0 auto;
    }
    .pizza1 p{
        margin:0;
        font-size:30px;
        font-weight:bold;
    }
   
    .hope{
        display:flex;
        justify-content: space-between;
    }
    .trash1{
        display:flex;
    }
    .trash1 h3{
        margin:0;
    }
    .pizza2{
        padding-right:100px;
        padding-left:70px;
    }

    
    .gomi1 img{
        width:12%;
        height:35px;
    }
    .gomi2 img{
        width:14%;
        height:35px;
    }
    .gomi3 img{
        width:17%;
        height:35px;
    }
    .gomi4 img{
        width:13%;
        height:35px;
    }

    .gomi5 img{
        width:10%;
        height:35px;
    }
    .peace{
        background-color:#fef5e0;
        padding:20px;
        margin-bottom:20px;
    }
    .hope{
        background-color: #fef5e0;
    }
    .seikai{
        background-color:#fef5e0;
    }
    .bold{
        font-size:14px;
        font-weight:600;
    }
    .thin{
        font-size:12px;
        font-weight:300;
    }
    .bangkok{
        height:auto;
    }
    .bangkok-main{
        padding-top:30px;
        padding-bottom:50px;
    }
    .bangkok-main h2{
        text-align: center;
    }
    .lite{
        margin:0;
    }
    .lite:hover{
        border-bottom:1px solid black;

    }
      .tokuten{
          margin-left:50px;
          width:90%;
          display:none!important;
      }
      .tokuten1{
          width:35%;
          margin-right:20px;

      }
      .sanka1 h2{
          margin:0 227px;
      }
      .sanka1{
        padding-top:20px;
    }
    .toku{
        display:inline!important;
    }
    .toku h2{
         color:#ebb94d;
    }
    .toku-right p{
        color:#FFF;
        width:100%;
        height:auto;
    }
    .sanka{
        height:auto;
    }
    .sanka2{
        border:2px solid #FFF;
        padding:20px 40px 20px 75px;
        margin:0 auto;
        width:80%;
        height:auto;
    }
    .sanka1 h2{
        top:54px;
    }
    .sanka-bottom{
        padding-top:0;
 
    }
    .sanka1{
        padding-top:0;
    }
   .sanka-main{
       padding-bottom:50px;
   }
    .toku-left h2{
        margin:0;
    }
    .toku-right{
        padding-top:15px;
        padding-left:50px;
    }
    .toku-left{
        margin-bottom:15px;
     
    }
    .leon{
        height:auto;
    }
    .message{
        height:auto;
    }
    .m-bottom{
        display:flex;
        flex-direction: column;
        margin:0;
        
    }
    .m-left{
        width:90%;
        height:auto;
        text-align: center;
        
    }
    .m-left img{
        display:block;
        margin:0 auto;
        width:90%;
        height:550px;
        margin-left:21px;
    }
    .m-right{
        font-size:20px;
    }
      .leon2{
          padding-bottom:100px;
      }
      .leon2 h2:before{
          left:-260px;
      }
      .leon2 h2:after{
          top:50px;
          right:-260px;
      }
      .message-main{
          padding-bottom:30px;
      }
      .m-bottom{
          margin-left:0;
          margin-right:0;
      }
      .m-bottom img{
          float:initial; 

      }
      .m-left{
          width:95%;
          height:auto;
      }
      .m-left img{
          width:100%;
          height:auto;
      }
      #santa{
          list-style: none;
      }
      .faq-main{
          padding:50px 40px;

      }
      .toku-list{
        display:flex;
    }
    .toku-left{
        background-color:#FFF;
        width:14%;
        height:100px;
        padding-top:30px;
        border-radius: 50%;
        text-align: center;
    }
    .sanka1{
        padding-top:20px;
    }
    .toku h2{
         color:#ebb94d;
    }
    .toku-right p{
        color:#FFF;
        width:100%;
        height:auto;
    }
      


      
}


 @media all and (max-width:560px){
     body{
        min-width: 1024px;
     }
    .free-logo h2:after{
        right:0;
    }
    .one h1:after{
        right:-290px;
    }
    .merit1:after{
        right:-220px;
    }
    .header-left{
        flex-direction: column-reverse;
        padding-top:10px;
        padding-left:10px;
    }
    .header-left p{
        margin:0;
        padding:0;
    }
    .header-left img{
        padding:0;
        width:30%;
    }
    .header-right{
        display:none;
    }
    
    .header-right1{
        width:9%;
        height:75px;
        float:right;
        background-color:#da6b64;
        margin:0 0 0 auto;
        
       
    }
    .header-right2{
        
        display:flex;
        flex-direction: column;
        padding:12px;
        
    }
    .header-right1 img{
        color:black;
        width:40%;
        height:auto;
        margin-left:15px;
    }
    .pipi{
        color:#FFF;
    }
    .pipi:hover{
        border-bottom:1px solid #FFF;
    }
    .contain{
        background-position: -373px 3px;
        background-size: 1500px;
    }
    .center{
        width:90%;
    }

    .quits{
        padding:0;
    }
    .quit a{
        color:#FFF;
    }
    .br::before {
        content: "\A" ;
        white-space: pre ;
    }
    .twenty{
        margin-bottom:20px;
    }
    .thirty{
        padding-top:10px;
    }
    .skill{
        height:600px;
    }
    .free{
        height:680px;
    }
    .free-list p{
        width:50%;
        height:auto;
        margin:0 auto;

    }
    .free-main{
        padding-top:25px;
    }
    .free-logo h2{
        font-size:30px;
    }
    .free-list{
        padding:0;
    }
    .free-list p{
        width:40%;
        height:auto;
        font-size:20px;
    }
    .free-logo h2:before {
        top:-22px;
        left:-245px;
    }
    .free-logo h2:after{
        top:60px;
        right:-230px;
    }
    .two h2 {
        font-size: 22px;
    }
    .nomado{
        height:700px;
    }
    .one h1:before {
        left:-300px;
    }
    .isala-list{
       
    }
    .kadai{
        margin: 0px 30px;
    }
    .isala{
        height:874px;
    }
    .blue2{
        padding-top:25px;
    }

    .merit2{
        display:flex;
        flex-direction: column;
        margin:0 auto;
        text-align: center;
    }
    .merit3{
        width:81%;
        margin:0 auto;
        margin-top:55px;
    }
    .merit-list{
        width:40%;
        height:auto;
        margin:0 auto;
    }
    .merit-list img{
        width: 100%;
        height: 200px;
    }
    .merit-main p{ 
        margin:0;
    }
   .support{
       padding-bottom:20px;
   }
    .merit-list img{
        margin-top:30px;
    }
    
    .bottom {
        display: flex;
        flex-direction: column;
        
    }
    .member{
        height:2000px;
        background-size: 2500px;
        background-position: -600px -7px;
    }
    .member1{
        width:100%;
    }
    .box{
        padding:20px;
    }
    .human{
        width:25%;
        height:auto;
        margin-left:20px;
    }
    .human img{
        width:100%;
        height:auto;
        
    }
    .letter{
        width:70%;
        font-size:20px;
        height:auto;
        padding-right:10px;
        padding-left:10px;
    }
   
    .voice{
        height:1123px;
    }
    .coffee-bottom{
        display:flex;
        flex-direction: column;
    }
    .coffee{
        height:1200px;

    }
    
    
    .skype{
        height:auto;
    }
    .skype-main{
        display:none;
    }
    .pizza1{
        display:flex;
        width:23%;
        height:auto;
        margin:0 auto;
    }
    .pizza1 p{
        margin:0;
        font-size:30px;
        font-weight:bold;
    }
   
    .hope{
        display:flex;
        justify-content: space-between;
    }
    .trash1{
        display:flex;
    }
    .trash1 h3{
        margin:0;
    }
    .pizza2{
        padding-right:100px;
        padding-left:70px;
    }

    
    .gomi1 img{
        width:12%;
        height:35px;
    }
    .gomi2 img{
        width:14%;
        height:35px;
    }
    .gomi3 img{
        width:17%;
        height:35px;
    }
    .gomi4 img{
        width:13%;
        height:35px;
    }

    .gomi5 img{
        width:10%;
        height:35px;
    }
    .peace{
        background-color:#fef5e0;
        padding:20px;
        margin-bottom:20px;
    }
    .hope{
        background-color: #fef5e0;
    }
    .seikai{
        background-color:#fef5e0;
    }
    .bold{
        font-size:14px;
        font-weight:600;
    }
    .thin{
        font-size:12px;
        font-weight:300;
    }
    .bangkok h2{
        text-align: center;
    }
    ul{
        list-style: initial;
    }
   .bangkok{
    background-size: 1733px;
    background-position: -11px -103px;
   }

   .tokuten{
       display:none;
       
   }
   .toku-list{
       display:flex;
   }
   .toku-left{
       background-color:#FFF;
       width:14%;
       height:100px;
       padding-top:30px;
       border-radius: 50%;
       text-align: center;
   }
   .sanka1{
       padding-top:20px;
   }
   .toku h2{
        color:#ebb94d;
   }
   .toku-right p{
       color:#FFF;
       width:100%;
       height:auto;
   }
   .sanka{
       height:750px;
   }
   .sanka2{
       border:2px solid #FFF;
       padding:20px 40px 40px 75px;
       margin:0 auto;
       width:80%;
       height:auto;
   }
   .sanka1 h2{
       top:54px;
   }
   .sanka-bottom{
       padding-top:0;

   }
   .sanka1{
       padding-top:0;
   }
  
   .toku-left h2{
       margin:0;
   }
   .toku-right{
       padding-top:15px;
       padding-left:50px;
   }
   .toku-left{
       margin-bottom:15px;
    
   }
   .leon{
       height:auto;
   }
   .message{
       height:auto;
   }
   .m-bottom{
       display:flex;
       flex-direction: column;
       margin:0;
       
   }
   .m-left{
       width:90%;
       height:auto;
       text-align: center;
       
   }
   .m-left img{
       display:block;
       margin:0 auto;
       width:90%;
       height:550px;
       margin-left:96px;
   }
   .m-right{
       margin:0 auto;
   }
  
 
 }
   


    


  
